.new-navbar {
    background-color: #ffffff; /* Change background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0;/* Increased padding */
}

.new-navbar-brand {
    color: #080808; /* Change brand color */
    font-size: 2rem; /* Increased font size */
}

.new-navbar-links {
    display: flex;
    gap: 0rem; /* Increased space between buttons */
}

.new-btn {
    background-color: #004643; /* Button background color */
    color: white; /* Button text color */
    border: none; 
    height: 90px;/* Remove border */
    padding: 0.75rem 1.5rem; /* Increased button padding */
    border-radius: 0px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
    font-size: 1.2rem;
    
    width: 150%;
    /* Increased button text size */
}
.new-btn:hover {
    background-color: #011014; /* Change color on hover */
}
.takeaction {
    background-color: #E8CF1A; /* Button background color */
    color: white; /* Button text color */
    border: none; 
    height: 90px;/* Remove border */
    padding: 0.75rem 1.5rem; /* Increased button padding */
    border-radius: 0px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
    font-size: 1.2rem;
    width:100%
    /* Increased button text size */
}
.takeaction:hover {
    background-color: #011014; /* Change color on hover */
}
.menu {
    background-color: #0A4931; /* Button background color */
    color: white; /* Button text color */
    border: none; 
    height: 90px;/* Remove border */
    padding: 0.75rem 1.5rem; /* Increased button padding */
    border-radius: 0px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
    font-size: 1.2rem;
    width:90%
    /* Increased button text size */
}
.menu:hover {
    background-color: #e1eaec; /* Change color on hover */
    color: #0A4931
}

