/* Main container */
.main-container {
  display: flex;
  width: 100%;
  height: 790.17px;
  margin:  auto; 
  gap: 0px;
  line-height: 1.8px;/* Center-aligns the layout */
}

/* About Container */
.about-container {
  background-color: #1b1e16; /* Dark background color */
  color: white;
  width: 600.61px;
  height: 384.38px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-left: 0px;
  padding-left: 100px;
  padding-right: 100px;
}

.about-container h2 {
  font-size: 34px;
  margin-bottom: 15px;
  margin-right: 135px;
  color:#ffffff;
  margin-top: 50px;
  margin-bottom: 40px;
}

.about-container p {
  font-size: 14px;
  margin-bottom: 50px;
  color:#ffffff;
  line-height: 1.8em;
 
  margin-top: 1px;
  padding-right: 15px;
  margin-bottom: 30px ;
  
}

.learn-more-button-about {
  padding: 10px 0px;
  color: #ffffff;
  background-color: #1b1e16;
  border: 1px solid #ffffff;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  margin-top: 0px;
  
}

.learn-more-button-about:hover {
  background-color: #f8f8f8;
  color:black;
}

/* Image Container */
.image-container {
  width: 400px;
  height: 384.38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Projects Container */
.projects-container {
  background-color: #eecc46; /* Yellow background color */
  color: #1b1e16;
  width:40%;
  height: 384.38px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 140px;
  padding-right: 140px;
  
}

.projects-container h2 {
  font-size: 34px;
  margin-bottom: 10px;
  margin-right: 135px;
  color:#ffffff
}

.projects-container p {
  font-size: 15px;
  margin-bottom: 20px;
  color:#ffffff;
  line-height: 1.8em;
  margin-bottom: 15px;
  
}

.learn-more-button-projects {
  padding: 10px 0px;
  color: #fbfff3;
  background-color:#eecc46;
  border: 1px solid #edf0e9;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
}

.learn-more-button-projects:hover {
  background-color: #dddddd;
  color:black;
}
